.myCointainer{
    display: inline-block; 
    width: 100%;
}
.dashboardICons{
    border: 1px solid var(--ion-color-light-contrast); 
    height: 180px; 
    text-align: center;
    justify-content: center; 
    margin: 1%; 
    border-radius: 12px;
}
.dashboardTabICons{
    width: 85px; 
    height: 85px;
}
.dashboardProfileRole{
    padding-left: 5%;
    color: var(--ion-color-primary-tint);
}