.libraryThumbnail{
    width: 100px;
    border-radius: 10px;
    overflow: hidden;
}


@media only screen and (min-width: 600px) {
    .chartCard{
        display: inline-block;
        width: 500px;
    }
}
